*{
    box-sizing: border-box;
}

* {
    --color--1 : #4681f4;
    --color--2: #5783db;
    --color--3: #55c2da;
    --color--4: #5dbea3;
    --color--5: #33b249;
    --color--6: #5adbb5;
    --color--7: #a881af;
    --color--8: #80669d;
    --color--9: #dd7973;
    --color--10: #ffbd03;
    --color--11: #ED0800;
}

.input-container {
    position: relative;
    width: 250px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.input-container > .input {
    width: 100%;
    font-size: 1.5rem;
    padding: 5%;
    position: absolute;
    z-index: 0;
    border: 1px solid #999696;
    border-radius: 10px;
}

.input-container > span {
    position:absolute;
    left: 2%;
    font-size: 1.5rem;
    color: #999696;
    z-index: 1;
    border-radius: 2px;
    text-transform: capitalize;
}

.input-container .input:focus {
    outline: none !important ;
    border-color: var(--color--1);
}

.input-container .input:focus ~ span,
.input-container .input:valid ~ span {
    transform: translateY(-30px) translateX(10px);
    font-size: medium;
    background-color: white;
    color: var(--color--1);
    padding: 1px 5px;
}

.input-container .input.error,
.input-container .input.invalid {
    border: var(--color--9) dotted thin;
}

.input-container .input.error ~ span {
    color: var(--color--9);
}