* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume-page {
    height: 100vh;
    width: 100vw;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d5d5d5;
}

.grid-container {
    height: 700px;
    width: 500px;
    background-color: rgb(248, 248, 248);
    display: grid;
    /* grid template rows and columns */
    /* grid-template-rows: 2fr 2fr 3fr 3fr ; */
    grid-template-rows: auto auto auto auto ;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 5%;
    grid-row-gap: 2%;
    position: relative;
    padding: 10px;
    padding-top: 20px;
}

.grid-container::before {
    content: '';
    position: absolute;
    /* background-color: blueviolet; */
    height: 80px;
    width: 100%;
}

/* ############### Image ############## */

.img-container {
    /* background-color: red; */
    display:  flex;
    align-items: center;
    justify-content: center;
}

.img-container > img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    /* border-radius: 50%; */
    border: 3px solid rgb(143, 143, 143);
    position: relative;
    z-index: 5;
}

/* ############### Title ############## */

.name-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-bottom: 18px;
}

.user-name {
    font-size: 36px;
    /* color: #fff; */
}

.user-title {
    font-size: 18px;
}

.name-container > div {
    position: relative;
}


/* ############### Sections ############## */

.details {
    margin-top: 10px;
    font-size: 11px;
    font-style: italic;
}

/* ############### Contact ############## */

.grid-item > .section-heading {
    font-weight: bold !important;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.contact-container > .details {
    line-height: max(1.2rem, 20px);
}

/* ############### Education ############## */

.education-container > .details > div {
    margin-top: 5px;
}

.edu-container {
    margin-bottom: 10px;
}

.edu-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

/* ############### Skills ############## */

.skills-container > .details {
    line-height: max(1.2rem, 20px);
}

.skills-container > .details > ul {
    margin-left: 10px;
}

.skills-container > .details .skill {
    font-family: monospace;
    font-style: normal;
}

/* ############### Experience ############## */

.experience-container {
    grid-row: 3/5;
    grid-column: 2/3;
}

.exp-container {
    margin-bottom: 10px;
}

.exp-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.designation {
    font-family: 'Courier New', Courier, monospace;
}